<div class="container">
  <div class="header"><%= render '/pages/header' %></div>

  <div class="body">
    <h1><p id="specifications">SPECIFICATIONS</p></h1>

    <ol>
      <li><strong>Scientifically accurate</strong>: both common and scientific names including the author(s) for each plant and all known common and scientific name synonyms for each species.</li>
      <li><strong>Text based</strong>: using carefully selected common terms of form and structure for identification with drawings and photographs to help confirm identifications.</li>
      <li><strong>Jargon Free</strong>: keeping technical terms to an absolute minimum, but with full definitions of any term available with a single tap.</li>
      <li><strong>Pocketable</strong>: fitting into just about any sized pocket makes the smartphone ideal for this purpose. You won't have to take bulky and heavy field guides with you. Since a smartphone is usually carried at all times you won't have to remember to take it.</li>
      <li><strong>Intuitive</strong>: easy to use and understand. You'll rarely need to consult the help menu.</li>
      <li><strong>Web-Independent</strong>: providing plant identification without an active Internet or wireless connection.</li>
      <li><strong>Searchable</strong>: providing lists of both common and scientific names of plants including synonyms and other names.</li>
      <li><strong>Updateable</strong>: adding new data periodically as it is developed.</li>
      <li><strong>Free</strong>: fully functional application to be available to any end-user.</li>
      <li><strong>Multiple platform</strong>: will function on a variety of smartphone platforms.</li>
    </ol>
  </div>

  <div class="footer"><%= render '/pages/footer' %></div>
</div>
