<%= render '/pages/header' %>
<p>Additional Objectives</p>

<p>The other objectives shared more or less with printed and digital field guides are as follows:</p>

<ol>
  <li>Scientifically accurate including both common name and full scientific names with authors for each plant and any synonym for each.</li>
  <li>Text based: using carefully selected common terms of form and structure for identification with drawings and photographs to help confirm identifications.</li>
  <li>Jargon Free: keeping technical terms to an absolute minimum, but with full definitions of any term available with a single tap.</li>
  <li>Pocketable: fitting into just about any sized pocket makes the smartphone ideal for this purpose. You won't have to take bulky and heavy field guides with you. Since a smartphone is usually carried at all times you won't have to remember to take it.</li>
  <li>Intuitive: easy to use and understand. You'll rarely need to consult the help menu.</li>
  <li>Web-Independent: providing plant identification without an active Internet or wireless connection.</li>
  <li>Searchable: providing lists of both common and scientific names of plants including synonyms and other names.</li>
  <li>Updateable: adding new data periodically as it is developed.</li>
  <li>Free: fully functional application to be available to any end-user.</li>
  <li>Multiple platform: will function on a variety of smartphone platforms.</li>
</ol>
<%= render '/pages/footer' %>
