<div class="container">
  <div class="header"><%= render '/pages/header' %></div>

  <div class="body">
    <h1><p>App</p></h1>

    <p>
    Traditionally, there have been three ways to learn how to correctly identify plants 
    in the wild. Each way had its own advantages and disadvantages.
    </p>

    <p>
    Having an expert guide or naturalist available to identify plants is probably the 
    easiest way; but today it can be difficult to find such a leader who is available 
    both where and when you want one. Experts frequently tend to use the more confusing 
    technical words which can be hard to follow.
    </p>

    <p>
    Formal classroom instructions is another way to learn how to correctly identify 
    plants. But classes in local flora (how to identify plants found in the wild locally) 
    are hard to find, infrequently scheduled and often expensive. They can involve months 
    of classroom work and many field trips. This type of instruction also typically 
    requires learning a large number of technical terms many of which are not easily 
    remember unless they are used frequently.
    </p>

    <p>
    Printed field guides from reputable sources such as The Audubon Society, National 
    Geographic, The National Wildlife Federation and Peterson have provided a good solution 
    to the problems with expert guides and classroom instruction.  These are affordable 
    and easier to use than the plant manuals used by professional botanists; but they 
    have their problems too.  While they are relatively light weight they are bulky and 
    do not readily fit into normal sized pockets.  In addition, you usually need three 
    or more guides if you want to identify Wildflowers, ferns and trees which adds to 
    the bulk and weight you need to carry. Their biggest drawback is that they are not 
    comprehensive.  In their effort to help identify the greatest number of "common" 
    plants in too broad an area such as "Eastern North America" they have had to exclude 
    a large number of plants that are "less than common" even though those "less than 
    common" plants may be common where you are.
    </p> 

    <p>
    If you would like to help build Wild Plant ID, contact Brian Gilbert: bgilbert18212@att.net
    </p>
  </div>

  <div class="footer"><%= render '/pages/footer' %></div>
</div>
