<%= render '/pages/header' %>
<p>Outline of Basic Functions</p>

<p>
After tapping "Start New ID" on the app's Main Menu you will then see the "Plant 
Features" screen. On this screen are six readily observed features which are typically 
found on plants: leaves, flowers, fruit, bark, thorns, and tendrils. You will select 
any of these features that appear on the plant you want to identify.
</p>

<p>
You will then be led through a predetermined series of "Plant Attribute" screens 
for each of the features you selected. For example, if you selected the leaf feature 
there are five leaf attributes: leaf type, leaf attachment, leaf arrangement, leaf 
veins and leaf edge. You will make one selection on each of these leaf attribute 
screens. When you are done with the five "Leaf Attribute" screens you will automatically 
be presented with the attribute screens for any other feature you have selected. 
As you do with each leaf attribute screen you will make one choice on each additional 
attribute screen. When you have made your last selection you will be presented with 
the identification of your plant.
</p>

<p>
From the "Plant Identification" screen you can learn the common name of the plant 
and a whole lot more including: scientific names, family, rarity, environment fit
, typical flowering and fruiting times, and uses just to name a few. You will also 
be able to see images of the plant you just identified and its attributes.
</p>

<p>
And you won't have to worry about confusing botanical jargon. One of the best features 
of the app is its built in "Glossary". You will be able to get a definition for any 
term used in the app by tapping and holding it.
</p>
<%= render '/pages/footer' %>
