<div class="container">
  <div class="header"><%= render 'pages/header' %></div>

  <div class="body">
    <p>Contact Us</p>
    <p>If you would like to help us create the Wild Plant ID field app for the plants 
    in the Euclid Creek Watershed or your watershed, please contact...</p>
    <p>BRIAN D. GILBERT</p>
    <p>VIA EMAIL... WildPlantID@gmail.com</p>
    <p>CELL PHONE... (216) 533-9935</p>
    <p>HOME PHONE... (216) 486-8765</p>
    <p>POSTAL SERVICE... 18212 Landseer Road, Cleveland, OH 44119</p>
  </div>

  <div class="footer"><%= render 'pages/footer' %></div>
</div>
