<%= render '/pages/header' %>
<p>Help Us</p>

<p>
Invitation - We welcome the opportunity to speak to any group regardless of size 
about our application. It would be a pleasure to speak about our goal in any meeting.
</p>

<p>
Recommendation - If you know of anyone who might be interested in creating a plant 
identification application for their own area please let them know about us.
</p>

<p>
Publication - Let us write an article for your organization's newsletter about our app.
</p>

<p>
Register - Sign up for regular updates from us on the progress we are making to develop and release this app.
</p>

<p>
Donation - If you would like to donate to Wild Plant ID to assist with employing 
programmers for the app please do the following:
</p>

<ol>
  <li>Write a check payable to The Friends of Euclid Creek.</li>
  <li>Write "Wild Plant ID" on the memo line.</li>
</ol>

<p>
For more information please contact Brian Gilbert at WildPlantID@gmail.com or call 
(216) 533-9935.
</p>

<p>
Thank You!
</p>
<%= render '/pages/footer' %>
