<%= render 'pages/header' %>
<p>Welcome To Wild Plant ID!</p>

<p>
Here you can find all the information about the app. The purpose of this app is 
to have easy access to all botanical information on one location in a mobile device
 without having to lug around a big botany book.
 </p>

<p>
The purpose of this website is to inform the reader everything about the app 
Wild Plant ID. This website represents the Euclid Creek Watershed, which the app
 is used for.
</p>

<%= render 'pages/footer' %>
