<div class="container">
  <div class="header"><%= render '/pages/header' %></div>
  <div class="body">
    <h1><p>Make a Wild Plant ID app for your area!</p></h1>
    <p>Once the prototype of Wild Plant ID app has been coded, field tested, debugged 
    and released to the public it will be converted into a template app which can be 
    used by other organizations and individuals to create Wild Plant ID for their area.</p>
    <p>Steps to create a Wild Plant ID app for your area...</p>

    <ol>
      <li>Become an app curator.</li>
      <p>Register with Wild Plant ID as an app curator and delineate the area you will 
      be creating the app for. We reccommend that your area be one with natural boundaries 
      such as a watershed, but other boundaries are acceptable such as a park or conservation area.</p>
      <li>Create a list of plants for your area.</li>

      <p>
      <ol type="A">
	<li>Locate any existing plants lists for your area.</li>
	<li>Research local herbatarium.</li>
	<li>Check online resources.</li>
      </ol>
      </p>

      <li>Collect plant identification characteristics for plants not already in Wild Plant ID database.</li>
      <p><li>Acquire photos of plants not already in Wild Plant ID database.</li></p>
    </ol>
  </div>

  <div class="footer"><%= render '/pages/footer' %></div>
</div>
