<%= render '/pages/header' %>
<p>Missions</p>

<p>
The mission of the Wild Plant ID is to design, build, deploy, and maintain a 
software application template which enables amateurs to accurately identify wild 
plants in individual ecologically defined areas using pocketable computing devices.
</p>

<p>
There are three objectives which make this app unique among both printed and digital 
field guides. In these three critical objectives the application is to be:
</p>

<p>
1. Customizeable - The application with be adaptable so that any interested individual 
or group would be able to create a Wild Plant ID application of their own, ecologically defined area.
</p>

<p>
2. Comprehensive - Including all native and naturalized, field-identifiable plants 
include wildflowers, ferns, and trees any place in the watershed. Only plants too 
small for field identification will not be included.
</p>

<p>
3. Exclusive - Including only plants found in a limited, specific watershed. You 
won't have to wade through identifying plants not found in your watershed.
</p>

<%= render '/pages/footer' %>
