<div class="container">
  <div class="header"><%= render '/pages/header' %></div>
  <div class="body">
    <h1><p id="prototype">PROTOTYPE</p></h1>
    <p>
    We are currently working to create a prototype of the Wild Plant ID app.  This prototype
    is being developed for the Euclid Creek watershed, a waterway which drains a 24-square
    mile area between the Cuyahoga and Chagrin Rivers in Cuyahoga County, Ohio, east
    of Cleveland.
    </p>

    <p>
    We have identified approximately 550 different species of plants growing in the
    wild in the Euclid Creek watershed.  The database of the characteristics of these
    plants has been completed and we have assembled photographs for about 75% of these
    plants.  We expect the photographic work to be completed by the spring of 2016.
    The computer coding of the app is being written by students in the Excel T.E.C.C.
    program of Mayfield High School.  During the 2014-15 school year they completed
    about half of the coding work.  We hope to complete the coding work by the end of
    the 2015-16 school year.  We will then conduct field testing of the prototype to
    work out any bugs and make sure of the app’s functionality.  Upon completion of the
    field testing we will publish the Wild Plant App for the Euclid Creek Watershed
    to the various app stores so anyone can download and use it.
    </p>

    <p>
    The software for the Wild Plant ID app will then be made available at very low cost
    to individuals and/or organizations who wish to make a Wild Plant ID app for their
    own natural area.
    </p>
  </div>

  <div class="footer"><%= render '/pages/footer' %></div>
</div>
