<%= render 'pages/header' %>
<p>Relevant Links</p>

<p>
Biota Of North America Program (BONAP)
<br>
An excellent source of accurate data on plant names and distribution
<br>
www.bonap.org
</p>

<p>
Friends Of Euclid Creek (FOEC)
<br>
The FOEC has agreed to be the fiscal sponsor of Wild Plant ID to assist in raising funds to hire the application developers who will write the code for this app.
<br>
www.cuyahogaswcd.org/euclidcreekfiles/FriendsofEuclidCreek.htm
</p>

<p>
Geauga Park District
<br>
The Geauga Park District was an early supporter of the Wild Plant ID 
<br>
www.geaugaparkdistrict.org/
</p>

<p>
Native Plant Society Of North Eastern Ohio (NPSNEO)
<br>
The NPSNEO was the first organization to support the development of Wild Plant ID 
<br>
www.nativeplantsocietyneo.org/
<p>

<p>
West Creek Conservancy
<br>
The West Creek Conservancy was an early supporter of the Wild Plant ID 
<br>
www.westcreek.org/
</p>

<%= render 'pages/footer' %>
