<div class="container">
  <div class="header"><%= render 'pages/header' %></div>

  <div class="body">
    <div id="relevant_links">
    <h1><p>Relevant Links</p></h1>

    <p>
    <strong>North American Native Plant Society (NANPS)<br></strong>
    <a href="http://www.nanps.org">www.nanps.org</a>
    </p>

    <p>
    <strong>Native Plant Society Of Northeastern Ohio (NPSNEO) <br></strong>
    <a href="www.nativeplantsocietyneo.org/">www.nativeplantsocietyneo.org/</a>
    </p>

    <p>
    <strong>Friends Of Euclid Creek (FOEC) <br></strong>
    <a href="www.euclidcreekwatershed.org">www.euclidcreekwatershed.org</a>
    </p>

    <p>
    <strong>West Creek Conservancy <br></strong>
    <a href="www.westcreek.org/">www.westcreek.org/</a>
    </p>

    <p>
    <strong>Geauga Park District <br></strong>
    <a href="www.geaugaparkdistrict.org/">www.geaugaparkdistrict.org/</a>
    </p>

    </div>
    </div>
    <div class="footer"><%= render 'pages/footer' %></div>
</div>
