<div class="container">
  <div class="header"><%= render 'pages/header' %></div>

  <div class="body">
    <div id="relevant_links">
    <h1><p>Relevant Links</p></h1>
      
    <p>
    <strong>North American Native Plant Society (NANPS)<br></strong>
    Dedicated to the Study, Conservation, Cultivation & Restoration of North America's Native Flora<br>
    <a href="http://www.nanps.org">www.nanps.org</a>
    </p>

    <p>
    <strong>Biota Of North America Program (BONAP) <br></strong>
    An excellent source of accurate data on plant names and distribution <br>
    <a href="http://www.bonap.org">www.bonap.org</a>
    </p>

    <p>
    <strong>Friends Of Euclid Creek (FOEC) <br></strong>
    The FOEC has agreed to be the fiscal sponsor of Wild Plant ID to assist in raising 
    funds to hire the application developers who will write the code for this app.  <br>
    <a href="www.cuyahogaswcd.org/euclidcreekfiles/FriendsofEuclidCreek.htm">www.cuyahogaswcd.org/euclidcreekfiles/FriendsofEuclidCreek.htm</a>
    </p>

    <p>
    <strong>Geauga Park District <br></strong>
    The Geauga Park District was an early supporter of the Wild Plant ID <br>
    <a href="www.geaugaparkdistrict.org/">www.geaugaparkdistrict.org/</a>
    </p>

    <p>
    <strong>Native Plant Society Of North Eastern Ohio (NPSNEO) <br></strong>
    The NPSNEO was the first organization to support the development of Wild Plant ID <br>
    <a href="www.nativeplantsocietyneo.org/">www.nativeplantsocietyneo.org/</a>
    </p>

    <p>
    <strong>West Creek Conservancy <br></strong>
    The West Creek Conservancy was an early supporter of the Wild Plant ID <br>
    <a href="www.westcreek.org/">www.westcreek.org/</a>
    </p>

    </div>
    </div>
    <div class="footer"><%= render 'pages/footer' %></div>
</div>
