// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*
{ margin: 0px;
  padding: 0px;
}

.container
{ font-family: sans-serif;
  width: 100%;
}

.header
{ background-color: black;
  padding-top: 10px;
}

.links_header
{ width: 50%;
  padding-top: 5px;
  margin: 0 auto 0 auto;
  color: grey;
  text-align:center;
}

.links_header a:active
{ color:white; 
}
.links_header a:hover
{ color:white; 
  text-decoration: none;
}
.links_header a:link
{ color:white; 
}
.links_header a:visited
{ color:white; 
}


#forest_panorama
{ padding-top: 10px;
}

#main_title
{ color:white;
  font-size: 4em;
  text-align:center;
  margin-top: -200px;
  margin-bottom: 130px;
  text-shadow: 3px 3px 10px black;
}

.body
{ width: 50%;
  margin: auto;
}

p
{ padding: 8px;
}

#missions, #specifications, #basic_functions
{ text-decoration: underline;
  text-align: center;
}

#relevant_links {text-align:center;}

ol
{ margin-left: 30px;
}

#missions_first_p
{ width: 70%;
  float: left;
}

#green_leaf_div
{ float:right;
}

#green_leaf
{ height: 70%;
  width: 70%;
}

.links_footer
{ width: 50%;
  margin: auto;
  padding-top: 10px;
}

.footer
{ background-color: #f2f2f2;
  margin-top: 300px;
  bottom: 0;
  left: 0;
  right: 0;
}
